[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "third_party/ryu"]
	path = third_party/ryu
	url = https://github.com/ulfjack/ryu.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
